CREATE TABLE %s(
  %s
);

CREATE GENERATOR GEN_%s_ID;
SET GENERATOR GEN_%s_ID TO 0;

CREATE TRIGGER %s_BI FOR %s 
ACTIVE BEFORE INSERT POSITION 0 
AS 
BEGIN 
IF (NEW.ID IS NULL) THEN 
    NEW.ID = GEN_ID(GEN_%s_ID, 1); 
END; 
